.Tabs {
    width: 100%;
    max-width: 1000px;
    padding: 1rem 0;

    .TabsContainer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;

        .Tab {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.4rem 1rem;
            cursor: pointer;
            color: #fff;
            transition: transform 0.2s, background 0.3s;
            background: rgba(0, 0, 0, 0.15);
            min-height: 50px;
            border-radius: .8rem;
            border: 2px solid rgba(0, 0, 0, 0.06);
            font-size: 16px;
            font-weight: 500;
            align-items: center;
            line-height: 1;
            user-select: none;
            text-align: center;

            &:active {
                transform: scale(0.96);
            }

            &.Active {
                background: rgba(0, 0, 0, 0.45);
            }

            &.Active:hover {
                background: rgba(0, 0, 0, 0.6);
            }

            &:hover {
                background: rgba(0, 0, 0, 0.28);
            }

            .TabIcon {
                font-size: 1.5rem;
            }
        }
    }
}