.HeaderBarWrapper {
  height: 90px;
  position: sticky;
  width: 100%;
  top: 0;
  margin-bottom: 15px;
  z-index: 10;
  background: linear-gradient(-90deg, #105eac, #2cbfbf);
  

  .HeaderBar {
    width: 100%;
    height: 100%;

    .LogoContainer {
      display: inline-flex;
      cursor: pointer;
      justify-self: center;
      align-self: center;
      text-align: center;
      gap: 0.5rem;

      .LogoImage {
        margin: auto;
      }

      @media only screen and (max-width: 720px) {
        justify-content: flex-start;
        margin-left: 0.5rem;

        .LogoImage {
          width: 6rem;
          height: auto;
        }
      }
    }


  }


}
